.blue {
    background-color: #4365E2;
}

.nav-button {
    display: inline-block;
    color: orange;
}

.nav-text {
    font-size: 18px;
    color: white;
}

.navbar {
    margin: 20px;
}

.nav-container {
    margin-right: 20px;
}