    <footer class="border border-primary m-3">
        <div class="footer-container row align-items-center style='height: 300px'">
            <div class="footer-top mt-3 col ">
                <h4>Location</h4>
                <p>Address:
                    University of Dundee
                    Nethergate
                    Dundee</p>
                <p>DD1 4HN Scotland, UK</p>
            </div>
            
            <div class="footer-mid mt-3 col">
                <h4>Contact details</h4>
                <p>Email: tempemail@gmail.com</p>
                <p>Phone Number: +44123456789</p>
            </div>
            <div class="footer-bottom mt-3 col">
                <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=56.4582447,-2.9847177+(University%20of%20Dundee)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
            </div>
        </div>
        <div class="flex-row-reverse"><a href="#">TO TOP</a></div>
    </footer>


    
