    <footer>
        <div class="footer-container row align-items-center">
            <div class="footer-top mt-3 ms-3 col">
                <h4>Contact details</h4>
                <p>Address:
                    University of Dundee
                    Nethergate
                    Dundee
                    DD1 4HN
                    Scotland, UK</p>
            </div>
            <div class="footer-mid mt-3 col">
                <h1>I am the footer</h1>
            </div>
            <div class="footer-bottom mt-3 col">
                <h1>I am the footer</h1>
            </div>
        </div>
    </footer>


    
