{% extends "base.html" %}
{% block title %}Input User ID{% endblock %}
{% block content %}

<div style="margin-left: 30px;">
    <p>Please enter your student ID: </p>
    <input type="number" id="id" name="id" min="0" max="9999">

    <a class="btn btn-primary" id="retrieveDetails" role="button">Submit</a>
</div>

<script>

    let current_user = localStorage.getItem("current_user");

    if (!current_user)
    {
        //no student currently signed in, error caught

        //moving on to event listener for after user enters student number
        document.getElementById('retrieveDetails').addEventListener('click', () => {
        
        const num = parseInt(document.getElementById('id').value);

        if (!isNaN(num))
        {
            //writing user id for debugging
            console.log(num)

            //saving 'current user' to local storage
            localStorage.setItem("current_user", num);
            //print("User stored") this actually brings up the print page

            //moving to user page
            window.location.href = `/student/${num}`;
        } else
        {
            alert("Please enter a valid ID.");
        }
        })
    } else
    {
        //current_user exists, moving straight to their page
        window.location.href = `/student/${current_user}`
    }

</script>


{% endblock %}