{% extends "base.html" %}
{% block title %}All Societies{% endblock %}
{% block content %}
    <div class="card-group">
        {% for society in allSocs %}
            <div class="card" style="width: 18rem;">
                <img src="../static/{{ society.image }}" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title"><a href="../societies/{{ society.id }}">{{ society.name }}</a></h5>
                <p class="card-text">{{ society.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

