<table class="table table-hover caption-top ms-3">
    <caption style="margin-left: 10px;">Monday</caption>
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Module</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
        {% for index in timetable %}
            {% if index.lectures[0].day == 'Monday' %}
            <tr>
                <td scope="row">{{ index.lectures[0].title }}</td>
                <td>{{ index.name }}</td>
                <td>{{ index.lectures[0].location }}</td>
                <td>{{ index.lectures[0].time }}</td>
                <td>{{ index.lectures[0].map }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>