
{% include 'navbar.html'%}
<table class="Monday table table-hover caption-top">
    <caption style="margin-left: 10px;">Monday</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
        <h1>{{ timetable.name }}</h1>
        {% for index in timetable %}
            <tr>
                <td scope="row">{{ index.name }}</td>
                <td>{{ index.location }}</td>
                <td>{{ index.time }}</td>
                <td>{{ index.map }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<table class="table table-hover caption-top">
    <caption style="margin-left: 10px;">Tuesday</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">MultiParadigm</th>
        <td>QMB Lab1</td>
        <td>16:00</td>
        <td>linktomap</td>
      </tr>
      <tr>
        <td scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>
<table class="table table-hover caption-top">
    <caption style="margin-left: 10px;">Wednesday</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">MultiParadigm</th>
        <td>QMB Lab1</td>
        <td>16:00</td>
        <td>linktomap</td>
      </tr>
      <tr>
        <td scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>
<table class="table table-hover caption-top">
    <caption style="margin-left: 10px;">Thursday</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">MultiParadigm</th>
        <td>QMB Lab1</td>
        <td>16:00</td>
        <td>linktomap</td>
      </tr>
      <tr>
        <td scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>
<table class="table table-hover caption-top">
    <caption style="margin-left: 10px;">Friday</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Time</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">MultiParadigm</th>
        <td>QMB Lab1</td>
        <td>16:00</td>
        <td>linktomap</td>
      </tr>
      <tr>
        <td scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>

{% include 'footer.html' %}